@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <div class="align-items-center align-content-center home-img-container">
            <img src="~/images/home/jei_logo.png" />
        </div>

        <hr class="home-hr">

        <div class="details">
            <h1 id="about-us">About us</h1>
            <p class="intro">Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
            <div class="detail-row">
                <img class="home-waste-img" src="~/images/home/food_waste.png" alt="waste-img">
                <h3>Reduce the food waste</h3>
                <p>Businesses will share with us potential leftovers on the daily basis which they are ready to sell with reduced price.</p>
            </div>
            <div class="detail-row">
                <img class="home-food-img" src="~/images/home/food_bag.png" alt="food-bag-img">
                <h3>Connect business and customers</h3>
                <p>The businesses will get to reduce their waste and have new customers. Users will be able to buy food at a discounted price.</p>
            </div>
        </div>

        <hr class="home-hr">

        <div class="contact-us">
            <h1 id="contact-us">Get In Touch</h1>
            <p class="contact-message">Want to get in touch? We'd love to hear from you. Fill the form below send us a message...</p>
        </div>
    </div>
