@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <div class="align-items-center align-content-center home-img-container">
            <img src="~/images/home/jei_logo.png" />
        </div>

        <hr class="home-hr">

        <div class="details">
            <h1 id="about-us">Our Mission</h1>
            <p class="intro">Small changes can make a great impact. We are inspired by climate-friendly solutions that drive companies to make big changes and we aim to motivate everyone to take action against food waste. We seem to find that what's good for the planet is ultimately good for us too.</p>
            <div class="detail-row">
                <img class="home-waste-img" src="~/images/home/food_waste.png" alt="waste-img">
                <h3>It’s easy to be Sustainable</h3>
                <p>Let's fight food waste together. Eat more for less and help us to contribute in saving the planet.</p>
            </div>
            <div class="detail-row">
                <img class="home-food-img" src="~/images/home/food_bag.png" alt="food-bag-img">
                <h3>Connect Customers Looking for Unsold Food with a Great Discount</h3>
                <p>From a variety of restaurants and shops in Greater Toronto Area. By purchasing food as take-out through the website, you can save up to 75 % off the original price and reduce potential food waste.</p>
            </div>
        </div>

        <hr class="home-hr">

        <div class="contact-us">
            <h1 id="contact-us">Get In Touch</h1>
            <p class="contact-message">We always look forward to connecting with those who share an interest in a sustainable future.</p>
        </div>
    </div>
