@model Dish
@{
    ViewData["Title"] = "Add New Dish";
}

<h1>Add New Dish</h1>

<form asp-controller="Dish" asp-action="Create" enctype="multipart/form-data">
    @Html.HiddenFor(x => x.Id)
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input type="text" class="form-control" asp-for="Description">
    </div>
    <div class="form-group">
        <label asp-for="Type">Type</label>
        <select class="form-control" asp-for="Type">
            <option>Pizza</option>
            <option>Sushi</option>
            <option>Salad</option>
            <option>Pasta</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="File">Image</label>
        <input type="file" class="form-control-file"asp-for="File">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>