@{
    ViewData["Title"] = "Dishes";
}
    <script>
        var map;
        var markers = [];
        var toronto = { lat: 43.6532, lng: -79.3832 };
        var iconFood = 'http://maps.google.com/mapfiles/kml/paddle/ylw-blank.png';

        //get all partner and its dishes for the bounderies to use on the dinamic search
        var partnersOriginal = [
                {
                    name:'Pizza Pizza',
                    location: { lat: 43.6532, lng: -79.3832 },
                    dishes: ['Deluxe Pizza', 'Pepperoni Pizza'],
                },
                {
                    name:'Dominos Pizza',
                    location: { lat: 43.7532, lng: -79.4832 },
                    dishes: ['Cheese Pizza', 'Pepperoni Pizza'],
                },
        ];
        var partners = partnersOriginal.slice(0);

        function drawMarkers(){
            partners.forEach(p => {
                    // decide how to show the partner and dishes info
                    // insert a link to redirect to the parner page?
                    let contentString = '<div id="content">' +
                        '<div id="siteNotice">' +
                        '</div>' +
                        '<h2 id="firstHeading" class="firstHeading">' + p.name + '</h2>' +
                        '<div id="bodyContent">';
                    p.dishes.forEach(d => {
                        contentString += '<p>' + d + '</p>';
                    });
                    contentString += '</div>' +
                        '</div>';
                    let infowindow = new google.maps.InfoWindow({
                        content: contentString
                    });
                    let marker = new google.maps.Marker({ position: p.location, icon: iconFood, map: map });
                    marker.addListener('click', function () {
                        infowindow.open(map, marker);
                    });
                    markers.push(marker);
                    map.addListener('mousemove', function () {
                        infowindow.close();
                    });
                });
                //var marker = new google.maps.Marker({ position: toronto, map: map });
        }

        function refreshMap() {
            markers.forEach(m => {
                m.setMap(null);
                m = null;
            });
            drawMarkers();
        }
        function search(e) {
            if (e.value == "") {
                partners = partnersOriginal.slice(0);
                refreshMap();
            }
            else if (e.value && e.value.length > 2) {
                partners = [];
                partnersOriginal.forEach(p => {
                    let dishes = [];
                    p.dishes.forEach(d => {
                        if (d.indexOf(e.value) > -1) {
                            dishes.push(d);
                        }
                    });
                    if (dishes.length > 0) {
                        let newP = JSON.parse(JSON.stringify(p));
                        newP.dishes = dishes;
                        partners.push(newP);
                    }
                });
                refreshMap();
            }
        }
    </script>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Choose your next great meal</h1>
                <div class="form-group">
                    <label for="search">Choose what you want to eat</label>
                    <input type="text" class="form-control" id="search" placeholder="Write a dish name" onkeyup="search(this);">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radMapList" id="radMapList1" value="option1" checked>
                    <label class="form-check-label" for="radMapList1">
                        Map
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radMapList" id="radMapList2" value="option2">
                    <label class="form-check-label" for="radMapList2">
                        List
                    </label>
                </div>
                <div id="map" style="height:600px"></div>
            </div>
        </div>
    </div>
        <script>
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'),
                {
                    center: toronto,
                    zoom: 10
                });
                drawMarkers();
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEWhmZWq1kyojM46KzO-yZOYsw4jdkP6w&callback=initMap" async defer></script>
