@model JustEatIt.Models.DishAvailability

@{
    ViewData["Title"] = (Model.Id == 0) ? "Create Dish Availability" : "Edit Dish Availability";
    Dish dish = ViewData["availDish"] as Dish;
}

<h1>@ViewData["Title"]</h1>
<h5>Dish: @dish?.Name</h5>
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="CreateEditDishAvail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DishId" />
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginalPrice" class="control-label"></label>
                <input asp-for="OriginalPrice" class="form-control text-right" />
                <span asp-validation-for="OriginalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPrice" class="control-label"></label>
                <input asp-for="DiscountPrice" class="form-control text-right" />
                <span asp-validation-for="DiscountPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityTotal" class="control-label"></label>
                <input asp-for="QuantityTotal" class="form-control text-right" />
                <span asp-validation-for="QuantityTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control text-right" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexDishAvail" asp-route-dishId="@dish.Id">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
