@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <h4>Create a new account.</h4>
        <hr />
        <p>
            You can choose to create an account with us or login in using an external service.
        </p>
        <a id="delete" asp-page="RegisterCustomer" class="btn btn-primary w-100">Register a local account</a>
    </div>
    @{
        if ((Model.ExternalLogins?.Count ?? 0) > 0)
        {
            <div class="col-md-5 col-md-offset-2">
                <section>
                    <h4>Use another service to register.</h4>
                    <hr />
                    <partial name="_ExternalLoginPartial" />
                </section>
            </div>
        }
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
