@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    bool isAdmin = User.IsInRole("Administrator");
    bool isPartner = User.IsInRole("Partner");
    bool isCustomer = User.IsInRole("Customer");

    if (isAdmin)
    {
        <li class="nav-item">
            <a  class="nav-link text-light" asp-controller="Admin" asp-action="Index" title="Partner">Admin</a>
        </li>    
    }
    if (isAdmin || isPartner) {
        <li class="nav-item">
            <a  class="nav-link text-light" asp-controller="Partner" asp-action="Index" title="Partner">Partner</a>
        </li>    
    }
    if (isAdmin || isCustomer)
    {
        // Customer menu when available
    }
    <li class="nav-item">
        <a  class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-light">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
