@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") || Model.StartsWith("#E#:") ? "danger" : "success";
    var message = Model.StartsWith("#E#:") ? Model.Substring(4) : Model;
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @message
    </div>
    message = null;
}