@model AdminViewModel

@{
    ViewData["Title"] = "Adminstrator Control";
}

<div class="row">
    <div class="col-sm-12 my-3">
        <h1>@ViewData["Title"]</h1>
        <a class="btn btn-primary mr-3" asp-controller="AdminUser" asp-action="Index">User Control</a>
        <a class="btn btn-primary mr-3" asp-controller="AdminDish" asp-action="IndexDish">Dishes</a>
        <a class="btn btn-primary mr-3" asp-controller="AdminOrder" asp-action="Index">Orders</a>
    </div>
</div>

<h3>Select which resource do you want to edit</h3>